<div style="text-align:center">
  <h1>Welcome to ...here!</h1>
</div>

<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="false" aria-label="Example home icon">refresh</mat-icon>
</button>

<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="true" aria-label="Example home icon">refresh</mat-icon>
</button>
<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="false" aria-label="Example home icon">refresh</mat-icon>
</button>

<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="true" aria-label="Example home icon">refresh</mat-icon>
</button>
<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="false" aria-label="Example home icon">refresh</mat-icon>
</button>

<button mat-fab color="primary" mat-button (click)="getRandom()" matTooltip="gets the celebrities">
  <mat-icon aria-hidden="true" aria-label="Example home icon">refresh</mat-icon>
</button>
<span style="font-size:1.2cm;">{{ result }} </span>
