<mat-toolbar color="primary">
  <button mat-button>
    <img height="70" alt="CHS Logo" src="{{ themedIcon }}" />
    <span style="font-size:1.2cm;">&nbsp; {{ titleBig }} &nbsp; &nbsp; &nbsp; &nbsp; </span>
  </button>

  <span class="horizontalSpacer"></span> <span class="horizontalSpacer"></span> <span class="horizontalSpacer"></span>

  <button mat-button routerLink="/" matTooltip="About the app">Home</button>
  <button mat-button routerLink="/clist" matTooltip="About the app">Celebs</button>
  <button mat-button routerLink="/about" matTooltip="About the app">About</button>
  <button mat-button (click)="toggleTheme()">Theme</button> <button mat-button routerLink="/sign-in" *ngIf="!isSignedIn">Sign in</button>
  <button mat-button (click)="signOut()" [routerLinkActive]="['active']" *ngIf="isSignedIn">Hello, {{ userName }}! Sign out</button>
  <!-- 
    <app-band-status *ngIf="isSignedIn"></app-band-status> 
  -->
  <span class="horizontalSpacer"></span>
</mat-toolbar>

<app-nav-top></app-nav-top>

<div style="text-align:center">
  <h1>Welcome to {{ titleTla }}!</h1>
</div>

<router-outlet></router-outlet>

<button mat-button>My Butt</button>

<mat-toolbar class="sidenav0-footer">
  <span style="font-size:.3cm;"> © Copyright 2019 AAVpro Inc. </span>
</mat-toolbar>
