<mat-toolbar color="primary">
  <button mat-button>
    <img height="70" alt="CHS Logo" src="{{ themedIcon }}" />
    <span style="font-size:0.82cm; font-family: Orbitron;">&nbsp; {{ titleBig }} </span>
  </button>

  <span class="horizontalSpacer"></span> <span class="horizontalSpacer"></span> <span class="horizontalSpacer"></span>

  <button mat-button routerLink="/" matTooltip="Go to Home page">Home</button>
  <button mat-button routerLink="/about" matTooltip="About the app">About</button>

  <button mat-button *ngIf="isSignedIn" (click)="signOut()" [routerLinkActive]="['active']">Hello, {{ userName }}!   Sign out</button>
  <button mat-button (click)="toggleTheme()" matTooltip="Toggles the theme">Theme</button>

  <span class="horizontalSpacer"></span>
</mat-toolbar>

<!-- // todo: move to <app-nav-top></app-nav-top> -->

<mat-sidenav-container style="height: 80%;">
  <!--  // todo: <mat-sidenav #sidenav mode="side" [(opened)]="!isSignedIn"> -->
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <div style="margin: 20px; color: #aaa; display:run-in">
        <mat-icon mat-list-icon>nfc</mat-icon><br /><br />
        <mat-icon mat-list-icon>domain</mat-icon><br /><br />
        <mat-icon mat-list-icon>edit</mat-icon>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<mat-toolbar class="sidenav0-footer">
  <a mat-button target="_blank" rel="noopener" href="https://www.linkedin.com/in/alexpigida/">
    <img height="42" alt="Alex on LinkedIn" src="\assets\images\AlexPi pro 315x315 Smooth Circle.png" />
    <span style="font-size:.3cm;"> &nbsp; &nbsp; &nbsp; &nbsp; © Copyright 2019 AAVpro Inc. </span>
  </a>
</mat-toolbar>
