<mat-toolbar color="accent">
  <a mat-button routerLink="/">
    <img height="70" alt="CHS Logo" src="{{ themedIcon }}" />
    <span style="font-size:1.2cm;">&nbsp; {{ titleBig }} </span>
  </a>

  <span class="horizontalSpacer"></span>

  <button mat-button routerLink="/" matTooltip="Go to Home page">Home</button>
  <button mat-button routerLink="/clist" matTooltip="go to celebrity list">Celebs</button>
  <button mat-button routerLink="/about" matTooltip="About the app">About</button>
</mat-toolbar>
