<div *ngIf="factor" style="margin: 0em 25% 5% 25%">
  <button mat-fab (click)="goBack()" style="margin: 1em;" matTooltip="Go back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ factor.data.first_name | uppercase }} {{ factor.data.last_name | uppercase }}</mat-card-title>
      <mat-card-subtitle>bid number : {{ factor.data.id }}</mat-card-subtitle>
    </mat-card-header>
    <div fxFlex="0 0 50%">
      <img mat-card-image src="{{ factor.data.avatar }}" alt="Photo of {{ factor.data.avatar }}" />
    </div>
    <mat-card-content>
      <p>
        The <b>{{ factor.data.first_name | uppercase }} {{ factor.data.last_name | uppercase }}</b> is the smallest of the six original and
        distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was
        originally bred for hunting.
      </p>

      <div>
        <!-- <label>name:
          <input [(ngModel)]="factor.firstName" placeholder="firstName" />
        </label> -->
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="save()" matTooltip="Save"><mat-icon>save</mat-icon></button>
      <button mat-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-button><mat-icon>share</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
