<button mat-fab style="float: right; margin: 12px 120px 12px 10px;" mat-button (click)="getCelebs()" matTooltip="gets celebrities">
  <mat-icon>contacts</mat-icon>
</button>
<!-- 
<button mat-fab style="float: right; margin: 12px 10px;" mat-button (click)="getCelebs()" matTooltip="gets all celebrities">
  <mat-icon>person</mat-icon>
</button>
-->

<div style="margin: 0px 100px;">
  <span style="font-size:1.4em;">Search Celebrities:</span>
  <mat-form-field style="margin: 0px 10px; width: 15em;">
    <input #focus0 matInput placeholder="Searched words" [formControl]="searchedWordsControl" />
  </mat-form-field>
</div>

<ul *ngIf="celebs" style="margin: 0px 100px;">
  <li *ngFor="let celeb of celebs">
    <img [src]="celeb.hologramUrl" />
    <p>
      {{ celeb.firstName }} {{ celeb.lastName }}

      <button mat-fab color="primary" style="float: right; margin: 10px;" mat-button (click)="getCelebs()" matTooltip="Add to cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </p>
  </li>
  <!-- 
    <li *ngFor="let celeb of celebs.data">
      <img [src]="celeb.avatar" />
      <p>{{ celeb.first_name }} {{ celeb.last_name }}</p>
    </li>
  -->
</ul>
