<div style="float: right; font-size: 9px; margin: 5px; color: #888;">
  on/off-line back-up <br />
  <i>(localhost if off)</i>
</div>
<div style="text-align:center">
  <h2>Celebrities</h2>
</div>

<button mat-fab style="float: right; margin: 12px 120px 12px 10px;" mat-button (click)="getCelebsRoll()" matTooltip="Show all">
  <mat-icon>contacts</mat-icon>
</button>

<div style="margin: 0px 100px;">
  <mat-form-field style="margin: 0px 10px; width: 12em;">
    <input #focus0 matInput placeholder="Filter by matching string[s]" [formControl]="searchedWordsControl" />
  </mat-form-field>
  <button mat-fab style="margin: 12px;" mat-button (click)="filterCelebsRoll()" matTooltip="Apply filter">
    <mat-icon>filter_list</mat-icon>
  </button>
</div>

<ul *ngIf="celebs" style="margin: 0px 100px;">
  <li *ngFor="let celeb of celebs.data">
    <a routerLink="/factor/{{ celeb.id }}">
      <img [src]="celeb.avatar" />
    </a>
    <p>
      <span appHighlight [searchedWords]="searchedWords$ | async" [text]="celeb.first_name" classToApply="selected4"> </span> &nbsp;
      <span appHighlight [searchedWords]="searchedWords$ | async" [text]="celeb.last_name" classToApply="selected4"> </span>

      <button mat-fab color="primary" style="float: right; margin: 10px;" mat-button (click)="addToCart()" matTooltip="Add to cart">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </p>
  </li>
</ul>
