.gray {
  color: gray;
}

.large {
  font-size: 4em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    background: rgb(238, 238, 238);
    padding: .6em;
    border-radius: 48px 4px;
    margin-bottom: 7px;
    display: grid;
    grid-template-columns: 60px auto;

    p {
      font-weight: bold;
      margin-left: 90px;
    }

    img {
      border-radius: 33% 11%;
      width: 200%;
    }
  }
}
