<div style="text-align:center">
  <h1>Welcome to {{ titleTla }}!</h1>
</div>
<mat-grid-list cols="4" rowHeight="99%" gutterSize="6px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"> </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <div class="full-width-top" *ngIf="!isSignedIn">
      <!-- 
      <form [formGroup]="_form" (ngSubmit)="onSubmit()" autocomplete="on" (appFormChanged)="onFormChanged($event)" class="full-350-500-width">
        <div>
          <h4>Sign in</h4>
        </div>
          <br />
        <br />
        <mat-form-field class="full-width">
          <input #focus0 matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" />
          <mat-error *ngFor="let validation of validation_messages.username">
            <mat-error class="error-message" *ngIf="hasError(validation, 'username')">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field class="full-width">
          <input #focus1 matInput placeholder="Password" formControlName="password" [type]="hide ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="hide = !hide">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message" *ngIf="hasError(validation, 'password')">{{ validation.message }}</mat-error>
          </mat-error>
        </mat-form-field>
        <br />
        <br />
        <br />
        <div style="float: right;">
          <button mat-raised-button color="accent" [disabled]="!_form.valid || isLoading" type="submit">Sign in</button>
          &nbsp;&nbsp;&nbsp;
          <button mat-raised-button color="primary" (click)="onReset()" type="button">Reset</button>
        </div>
      </form>
      <br />
      <br />
      <h5>{{ signInReport }}</h5>
    -->
    </div>
    <div class="darken-1" *ngIf="isSignedIn">
      <h5>Welcome</h5>
    </div> 

  </mat-grid-tile>
  <mat-grid-tile [colspan]="1"> </mat-grid-tile>
</mat-grid-list>